/** Login styling */
#login-form input#id_username {
  margin-bottom: 30px;
  margin-left: 20px
}
#login-form input#id_password {
  margin-bottom: 30px;
  margin-left: 23px
}
#login-form .label-text {
  display: inline-block;
}
#login-form label:first-child {
  margin-top: 20px;
}
