/** Style for login form  */
input#id_username {
  margin-bottom: 30px;
  margin-left: 20px
}
input#id_password {
  margin-bottom: 30px;
  margin-left: 23px
}
.username_span,
.username_password {
  display: inline-block;
}
label.username_label {
  margin-top: 20px;
}


/** Style for home page  */

.create-btn,
.export-btn {
  margin-bottom: 15px;
}
.export {
  margin-right: 15px;
  margin-left: 15px;
}
#dataModal .form-control {
  margin: 15px;
}
#dataModal #moreInfo {
  display: block;
  width: 338%;
}